{% extends "layout.html" %} {% block body %}

<h1 class="text-center">按每台Client发送的HTTP数据包量排序</h1>
<div class="row">
    <div class="col-md-12">
        <!-- 为ECharts准备一个具备大小（宽高）的Dom -->
        <div id="main" style="height:400px"></div>
        <!-- ECharts单文件引入 -->
        <script src="http://echarts.baidu.com/build/dist/echarts.js"></script>
        <script type="text/javascript">
            // 路径配置
            require.config({
                paths: {
                    echarts: 'http://echarts.baidu.com/build/dist'
                }
            });

            // 使用
            require(
                [
                    'echarts',
                    'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
                ],
                function (ec) {
                    // 基于准备好的dom，初始化echarts图表
                    var myChart = ec.init(document.getElementById('main'));

                    var option = {
                        tooltip: {
                            show: true
                        },
                        legend: {
                            data: ['request counts']
                        },
                        xAxis: [
                            {
                                type: 'category',
                                data: [
                                    {% for client in clients %}
                                        "{{ client }}",
                            {% endfor %}
                                ]
                }
                        ],
                yAxis : [
                    {
                        type: 'value'
                    }
                ],
                series : [
                    {
                        "name": "request counts",
                        "type": "bar",
                        "data": [
                            {% for cnt in cnts %}
                                        {{ cnt }},
                    {% endfor %}
                ]
                            }
                        ]
                    };

            // 为echarts对象加载数据
            myChart.setOption(option);
                }
            );
        </script>
    </div>
</div>

{% endblock %}