{% extends "layout.html" %} {% block body %}

<h1 class="text-center">所有的请求抓包</h1>
<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<tr>
				<th>request id</th>
				<th>client ip</th>
				<th>host</th>
				<th>url</th>
				<th>crawl time</th>
			</tr>
			{% for request in requests %}

			<tr>
				<td onclick="location.href='/header/{{ request.requestid }}'">{{ request.requestid }}</td>
				<td onclick="location.href='/client/{{ request.clientip }}'">{{ request.clientip }}</td>
				<td onclick="location.href='/host/{{ request.host }}'">{{ request.host }}</td>
				<td>{{ request.url }}</td>
				<td>{{ request.ctime }}</td>
			</tr>

			{% endfor %}
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="text-align: center;">
		<nav aria-label="Page navigation">
			<ul class="pagination">
				<li>
					<a href="/requests/1" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% for page in pages %} {% if page_now == page %}
				<li class="active"><span href="/requests/{{ page }}">{{ page }}</span></li>
				{% else %}
				<li><a href="/requests/{{ page }}">{{ page }}</a></li>
				{% endif %} {% endfor %}
				<li>
					<a href="/requests/{{ page_end }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}